<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="tddBuilder"
         name="Tdd Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true">
         <run
               class="at.ac.tuwien.ifs.qse.tdd.builder.TddBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="TddNature"
         name="Tdd Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="at.ac.tuwien.ifs.qse.tdd.builder.TddNature">
         </run>
      </runtime>
      <builder
            id="at.ac.tuwien.ifs.qse.tdd.tddBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.ac.tuwien.ifs.qse.tdd.preferences.TddPreferencePage"
            id="at.ac.tuwien.ifs.qse.tdd.preferences.TddPreferencePage"
            name="Tdd">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.ac.tuwien.ifs.qse.tdd.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="at.ac.tuwien.ifs.qse.tdd.commands.category"
            name="Tdd Command Category">
      </category>
      <command
            categoryId="at.ac.tuwien.ifs.qse.tdd.commands.category"
            id="at.ac.tuwien.ifs.qse.tdd.commands.tddPluginEnableCommand"
            name="Enable/Disable Tdd Plugin">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="at.ac.tuwien.ifs.qse.tdd.commands.category"
            id="at.ac.tuwien.ifs.qse.tdd.commands.jumpToTest"
            name="Jump to Test">
      </command>
      <command
            categoryId="at.ac.tuwien.ifs.qse.tdd.commands.category"
            id="at.ac.tuwien.ifs.qse.tdd.commands.createTestClass"
            name="Create Test/Class">
      </command>
      <command
            categoryId="at.ac.tuwien.ifs.qse.tdd.commands.category"
            id="at.ac.tuwien.ifs.qse.tdd.commands.createTest"
            name="Create Test">
      </command>
      <command
            id="at.ac.tuwien.ifs.qse.tdd.commands.calculateCoverage"
            name="Calculate Coverage">
      </command>
      <command
            id="at.ac.tuwien.ifs.qse.tdd.commands.extractTestcaseSuperclass"
            name="Extract Testcase Superclass">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.ac.tuwien.ifs.qse.tdd.handlers.JumpToTest"
            commandId="at.ac.tuwien.ifs.qse.tdd.commands.jumpToTest">
      </handler>
      <handler
            class="at.ac.tuwien.ifs.qse.tdd.handlers.CreateTestClass"
            commandId="at.ac.tuwien.ifs.qse.tdd.commands.createTestClass">
      </handler>
      <handler
            class="at.ac.tuwien.ifs.qse.tdd.handlers.CalculateCoverage"
            commandId="at.ac.tuwien.ifs.qse.tdd.commands.calculateCoverage">
      </handler>
      <handler
            class="at.ac.tuwien.ifs.qse.tdd.handlers.ExtractTestcaseSuperclass"
            commandId="at.ac.tuwien.ifs.qse.tdd.commands.extractTestcaseSuperclass">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <menu
               icon="icons/Tdd.ico"
               label="Tdd">
            <command
                  commandId="at.ac.tuwien.ifs.qse.tdd.commands.createTestClass"
                  label="Create Class"
                  mnemonic="C"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="at.ac.tuwien.ifs.qse.tdd.hasAssociatedClass">
                              </test>
                           </not>
                           <test
                                 forcePluginActivation="true"
                                 property="at.ac.tuwien.ifs.qse.tdd.isTest">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="at.ac.tuwien.ifs.qse.tdd.commands.createTestClass"
                  label="Create Test"
                  mnemonic="C">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="at.ac.tuwien.ifs.qse.tdd.hasAssociatedTest">
                              </test>
                           </not>
                           <test
                                 forcePluginActivation="true"
                                 property="at.ac.tuwien.ifs.qse.tdd.isClass">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="at.ac.tuwien.ifs.qse.tdd.commands.jumpToTest"
                  label="Jump to Class"
                  mnemonic="J"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <test
                                 forcePluginActivation="true"
                                 property="at.ac.tuwien.ifs.qse.tdd.hasAssociatedClass">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="at.ac.tuwien.ifs.qse.tdd.isTest">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="at.ac.tuwien.ifs.qse.tdd.commands.jumpToTest"
                  label="Jump to Test"
                  mnemonic="J"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <test
                                 forcePluginActivation="true"
                                 property="at.ac.tuwien.ifs.qse.tdd.hasAssociatedTest">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="at.ac.tuwien.ifs.qse.tdd.isClass">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="at.ac.tuwien.ifs.qse.tdd.separator2">
            </separator>
            <command
                  commandId="at.ac.tuwien.ifs.qse.tdd.commands.extractTestcaseSuperclass"
                  label="Extract Testcase Superclass ..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <test
                              forcePluginActivation="true"
                              property="at.ac.tuwien.ifs.qse.tdd.isTest">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:#CompilationUnitEditorContext?before=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.ac.tuwien.ifs.qse.tdd.propertyTester.TddPropertyTester"
            id="at.ac.tuwien.ifs.qse.tdd.propertyTester"
            namespace="at.ac.tuwien.ifs.qse.tdd"
            properties="isClass,isTest,hasAssociatedClass,hasAssociatedTest"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="at.ac.tuwien.ifs.qse.tdd.viewerContribution2"
            targetID="at.ac.tuwien.ifs.qse.tdd.viewerContribution2">
      </viewerContribution>
   </extension>

</plugin>
